# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environment & Credentials
.env
fyers_tokens.json

# Logs & Output Files
logs/
*.log
result.txt
data_coverage.txt

# SQLite Databases
*.sqlite
*.sqlite3

# IDE / Editor specific
.idea/
.vscode/